h1,h2,h3,h4,h5,h6,p{margin: 0; background-color: #100640; padding: 0;}
header{
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;

}
.logo{
  width: 30%;
  padding: 1%

}

.img{
  width: 30%;
  padding: 1%

}

.ser{
  width: 30%;
  padding: 1%
}

div ul{
  background-color:#2a2a2a;
  color:#f0f0f0;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;

}


div ul li{
  padding-left: 2em;
  list-style: none;
  padding-top: 8px;
  text-align: center;
  padding-right: 2em;

}

div ul li:hover{
  background-color: white;
  color: black;
}

section{
  background-color: #727272;
  display: flex;
  flex-direction: row;
  height: 500px;
  color: #ffffff;
  ;
}
.image{
  width: 23%;
  padding: 1%;}
.main{
  width: 73%;
  padding: 1%;
  text-align: center;
  text-shadow: 2px;
  font-family: cursive;

}
.main p{
  text-align: justify;
  font-family: monospace;}


footer{
  background-color:  #292929;
  height: 40px;

}
