h1,h2,h3,h4,h5,h6,p, body{margin: 0; padding: 0;
}
header{
  width: 100%;
  background-color: #520030;
  display: flex;
  flex-direction: column;
}

header .logo{
  height: 50%;
  position: relative;
  border-bottom: white 1px solid;}
header .logo img{
  height: 10%;
  width: 10%;
  border-radius: 100px;
  display: block;
  margin: auto;
 }




header .nav{height: 50%;

    font-size: 1.5em;




 }
header .nav ul{

  color: white;
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin:0 auto;


}


header .nav ul li{
  padding: 20px;
  list-style: none;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;


}
header .nav ul li a{
  color: white; list-style: none;text-decoration: none;
}

header .nav ul li:hover{
  background-color: #e9ebee;
  transition: 2s;




}
header .nav ul li a:hover{color: red;}
/*
the codes below is for homepage.
*/
.homesection{
  background-color: #e9ebee;
  display: flex;
  flex-direction: row;
  color: #520030;
  width: 100%;
}

.info{
  padding-top: 1px;

  width: 30%;
  border-top:#65666a 3px solid;
  border-right:#65666a 3px solid;
  display: flex;
  flex-direction: column;
  text-align: center;



}
.article{height: 50%; width: 100%; background-color: ;}
.article h2{font-size: 2em;
}
.article p{text-align: justify; font-size: 1.3em; padding: 20px; background-color: ;}
.article fieldset{border-top: #65666a 3px solid; background: #83004d; color:white;}

.main{

  width: 40%;
  padding-top: 30px;
  text-align: center;

  border-top:#65666a 3px solid;
  border-right: #65666a 3px solid;
  color: #520030;


}

.main h1{
  font-size: 3em;
 text-shadow: 0 0 3px #FF0000;

}
.main p{
  padding: 2%;
  text-align: justify;

  font-size: 1em;
}
.main img{
  margin: auto;
  width: 400px;
  border-radius: 50%;
  height: 400px;
  box-shadow: 0 0 3px 2px black;


}


.main img:hover{transition: 4s;
  box-shadow: 0 0 3px 2px white;
  transform: scale(0.5, 0.5);
}

.main h3{font-size: 2em;}

.art{
  padding-top: 1px;
  border-top:#65666a 3px solid;
  width: 30%;
  display: flex;
  flex-direction: column;



}
.art fieldset{ border-top:#65666a 3px solid; background: #83004d; color: white;}
.art h2{font-size: 2em; text-align: center;}
.drawing{

  height: 50%;
  padding-top: 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gallery{display: flex;
flex-direction: row;
justify-content: center;}
.gallery img{height: 130px; width: 130px; padding: 2px; border: #520030 3px solid; }
.gallery img:hover{
  transition: 4s;
  transform: scale(3,2);
}


.links{
  height: 50%;

}
.links fieldset{border-top:#65666a 3px solid; background: #83004d; color: white;}
.links h2{ font-size: 2em;}
.links li{font-size: 1.5em;}
.links li a{text-decoration: none; color: #520030;}
/*
this for about me page
*/

.aboutsection{

  background-color: #e9ebee;

  display: flex;
  flex-direction: row;
  color: #520030;
  width: 100%;


}
.aboutimage{

  width: 30%;

}
.aboutimage img{

  width: 100%;
  height: 100%;

}
.aboutmain{

  text-align: center;

  width: 70%;
}
.aboutmain h1{font-size: 5em; }
.aboutmain p{
  font-size: 2em;
  padding: 30px;

  text-align: justify;

}
.aboutmain h2{ font-size: 3em;

 padding-top: 200px;
}
/*
this is for cv page
*/
.cvsection{
  background-color: #e9ebee;
  display: flex;
  flex-direction: column;
  color: #520030;

}
.title{text-align: center; font-size: 4em;}

.personal{display: flex;
flex-direction: row;font-size: 1em; }
.information{width:40%; text-align: right;}
.information h2{padding-right: 40px;}
.information ul{}
.information ul li{list-style: none; }
.data{width: 65%; padding-top: 0.7%;}
.data li{list-style: none;}
.others{text-align: justify; display: block; margin: auto;}
.others li{list-style: none; font-size: 1em;}
/*
this is for contact page.
*/
.contactsection{
  background: #e9ebee;
  color: #520030;

}

/*
this is for contact
*/
.contactsection{
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mycontact{
  width:50%;
  text-align: center;
  font-size: 1.3em;
}
.mycontact img{height: 40%; width: 40%; border-radius: 50px;}
.mycontact h1{font-size: 3em;}

.form{width: 50%;

}
.form h1{
  font-size: 4em;
}
.form p{
  font-size: 1.4em;}
.form input{ width: 60%; height: 30px;}
.form .submit{width: 60%; }
.get{display: block; margin: auto;}
textarea{width: 60%;}




footer{
  background-color:   #1c4a68;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  border-top:  #65666a 3px solid;

}
.foot{width: 33%;


}
.foot{width: 33%; padding: 1%; text-align: center;}
.foot i{font-size: 3.5em;}
.fa-google-plus-square{color:red;}
.fa-facebook-official{color: #fff;}
.fa-instagram{color:#a40061;}
.fa-pinterest-square{color: #7f0000;}
.foot img{height:100px; width: 200px; }



@media (max-width: 600px)
{
header{
  width: 100%;
}
.nav
{
  width:100%;
}
.nav ul{
  width:100%;
  display: flex;
  flex-direction: column;

  padding:0;
}
.nav ul li{
  text-align: center;
}

.info{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article
{
  width:100%;
}
.footer
{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.navi{
  display: none;
}
.share
{
  width: 100%;
}
.copy{
  width: 100%;
}
.homesection
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info{
  width: 100%;
  display: flex;
  flex-direction: column;
  border:1px solid black;
}
.article{
  width: 100%;
  padding-top: 1%;
}
.main{
  width: 100%;
}
.art{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
